<Footer>
    <Row Class="row-footer">
        <Row Style="display:block">
            <ul>
                <li style="font-weight: 500; font-size: 20px; margin-top: 36px">MaicoGroup</li>
                <li><a>about us</a></li>
                <li><a>address</a></li>
                <li>phone: 01230123123</li>
                <li></li>
            </ul>
        </Row>
        <Row Style="display:block">
            <ul>
                <li style="font-weight: 500; font-size: 20px; margin-top: 36px ">hỗ trợ</li>
                <li><a>FAQ</a></li>
                <li><a>Pháp lý</a></li>
                <li></li>
                <li></li>
            </ul>
        </Row>
        <Row Style="display:block">
            <ul>
                <li style="font-weight: 500; font-size: 20px; margin-top: 36px ">Nhu cầu</li>
                <li><a>Mua</a></li>
                <li><a>Thuê</a></li>
                <li><a>Mua & Thuê</a></li>
                <li></li>
            </ul>
        </Row>
        <Row Style="display:block">
            <ul>
                <li style="font-weight: 500; font-size: 20px; margin-top: 36px ">Thông tin</li>
                <li><a>Tuyển dụng</a></li>
                <li><a>Nhân viên</a></li>
                <li><a>Đời sống</a></li>
                <li><a>Tin tức</a></li>
            </ul>
        </Row>
    </Row>
    <Divider Plain>
        <a><Icon Style="font-size:20px" Type="facebook" Theme="fill" /></a>
        <a><Icon Style="font-size:20px" Type="instagram" Theme="fill" /></a>
        <a><Icon Style="font-size:20px" Type="linkedin" Theme="fill" /></a>
        <a><Icon Style="font-size:20px" Type="twitter-square" Theme="fill" /></a>
        <p>Copyright © 2021 - MaicoGroup. All Rights Reserved.</p>
    </Divider>
</Footer>
<style>
    ul {
        list-style: none;
        text-transform: capitalize;
        font-size:15px;
    }
    .ant-row {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }
    .row-footer{
        margin-bottom:auto;
    }
</style>