

<h1>Counter</h1>

<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter] public int CurrentCount { get; set; }
    [Parameter] public EventCallback<int> CurrentCountChanged { get; set; }

    public List<string> _strings;

    private void IncrementCount()
    {
        CurrentCount++;
        CurrentCountChanged.InvokeAsync(CurrentCount);
    }
}
