@page "/"


<div style="max-width:800px;">
        <Space Style="border: 1px solid #dedede; border-radius:5px">
            <SpaceItem>
                <Image Preview="false" Width="200px" Height="200px" Src="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" />
            </SpaceItem>
            <SpaceItem Class="pl-3">
                <Text Class="d-flex justify-content-start" style="color:blue" Strong>Chính chủ - Cần tiền bán gấp văn phòng - Shop thương mại DA LA</Text>
                <br />
                <div class="d-flex justify-content-start">
                    <Text Strong>900 triệu </Text>
                    <span>&nbsp;·&nbsp;</span>
                    <Text Strong>21 m2</Text>
                    <span>&nbsp;·&nbsp;</span>
                    <Text>Quận 2, Hồ Chí Minh</Text>
                </div>
                <br />
                <Text>
                    Chính chủ cần bán gấp căn Văn phòng - thương mại. Đang có HĐ cho thuê 4tr/tháng. DT 21m2. Khu vực dân cư rất đông, tiện làm văn phòng, văn phòng đại diện, các shop quần áo, phụ kiện. Các cửa hàng tiệ...
                </Text>
            </SpaceItem>
        </Space>
</div>

@code{

}